/* VARIABLES */

:root{
  --main-text-color : #fff;
  --hero-bg-img:#014E56;
  --manage-bg-color :  #012F34;
  --rapt-blue:#79C8C7;
  --light-coral:#F67E7E;
}

/* livvic-italic - latin */
@font-face {
  font-family: 'Livvic';
  font-style: italic;
  font-weight: 400;
  src:  url('../fonts/livvic-v13-latin-italic.woff2') format('woff2'),
  url('../fonts/livvic-v13-latin-italic.woff') format('woff');
}

@font-face {
  font-family: "Livvic";
  font-weight: 600;
  src: url("../fonts/livvic-v13-latin-600.woff2") format("woff2"),
  url("../fonts/livvic-v13-latin-600.woff") format("woff");
}
/* livvic-700 - latin */
@font-face {
  font-family: "Livvic";
  font-weight: 700;
  src: url("../fonts/livvic-v13-latin-700.woff2") format("woff2"),
  url("../fonts/livvic-v13-latin-700.woff") format("woff");
}

/* GENERAL */
*{
  box-sizing: border-box;
}
html{
  height: 100%;
}

img{
  display: block;
  height: auto;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;overflow-x: h;

  font-family: "Livvic", "Arial", sans-serif;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container{
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */
.site-main{
  flex-grow: 1;
}


/* header start */
.site-header{
  width: 100%;
  background-color: var(--hero-bg-img);
  padding: 73px 0;
}

.header-info{
  display: flex;
  align-items: center;
}

.header-info__logo{
  margin: 0;
  margin-right: 80px;
}

.header-info__list{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-info__item:not(:last-child){
  margin-right: 40px;
}

.header-info__link{
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--main-text-color);
  text-decoration: none;
  transition: 0.3s ease;
}

.header-info__link:hover{
  color: var(--light-coral);
}

/* hero start */


.hero{
  width: 100%;
  background-color: var(--hero-bg-img);
  padding-top: 56px;
  padding-bottom: 250px;
  background-image: url('../images/hero-bgimg.svg');
  background-size: 358px 200px;
  background-position: calc(50% + 337px) calc(50% + 265px);
  background-repeat: no-repeat;
}

.hero-info{
  position: relative;
  display: flex;
  align-items: center;
  color: var(--main-text-color);
}

.hero-info::before{
  position: absolute;
  content: "";
  left: -305px;
  width: 200px;
  height: 200px;
  background-image: url("../images/hero-btm-bgimg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hero-info__titlebox{
  width: 635px;
  margin-right: 30px;
}

.hero-info__title{
  margin: 0;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
}

.hero-info__sp{
  color: var(--light-coral);
}

.hero-info__textbox{
  width: 445px;
}

.hero-info__textbox::before{
  display: block;
  width: 50px;
  height: 4px;
  background-color: var(--rapt-blue);
  content: "";
}

.hero-info__text{
  padding-top: 79px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

/* Hero end */
.connect-link{
  margin-left: auto;
  padding: 9px 31px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--main-text-color);
  border: 2px solid #FFFFFF;
  border-radius: 24px;
  text-decoration: none;
  transition: 0.3s ease;
}

.connect-link:hover{
  background-color: var(--main-text-color);
  color: #002529;;
}

.connect-link:active{
  background-color: transparent;
  color: #ffffff40;
  border: 2px solid #ffffff40;
}

/* build-section */


.build{
  position: relative;
  padding: 140px 0;
  font-weight: 700;
  background-color: var(--manage-bg-color);
}
.build::after{
  position: absolute;
  content: "";
  left: calc(50% + 660px);
  width: 200px;
  bottom: -12px;
  height: 244px;
  background-image: url("../images/build-bg-img.svg");
  background-repeat: no-repeat;
}

.build__box{
  position: relative;
  display: flex;
  justify-content: space-between;
}
.build__box::before{
  position: absolute;
  width: 50px;
  height: 4px;
  content: "";
  border-top: #F67E7E solid;
  border-width: 4px;
}

.build__theme{
  margin-top: 58px;
  color: var(--main-text-color);
  width: 445px;
  height: 144px;
  font-size: 48px;
  line-height: 48px;
}

.build__list{
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 58px;
  list-style: none;
}

.build__item{
  margin-bottom: 32px;
}

.build__item::before{
  position: absolute;
  content: "";
  margin-right: 12px;
  width: 72px;
  height: 72px;
  left: -90px;
}
.build__item:nth-child(1)::before{
  top: 12px;
  background-image: url("../images/build-item1.svg");
}
.build__item:nth-child(2)::before{
  top: 136px;
  background-image: url("../images/build-item2.svg");
}
.build__item:nth-child(3)::before{
  top:260px;
  background-image: url("../images/build-item3.svg");
}

.build__item__theme{
  margin: 0px;
  margin-bottom: 16px;
  color: var(--light-coral);
  width: 445px;
  height: 28px;
  font-size: 18px;
  line-height: 28px;
}

.build__item__text{
  margin: 0px;
  color: var(--main-text-color);
  width: 445px;
  height: 50px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
}

/* build-section-end*/


/* deliver-section */

.deliver{
  position: relative;
  padding-top: 140px;
  padding-bottom: 245px;
  color: var(--main-text-color);
  font-weight: 700;
  text-align: center;
  background-color: #004047;
  background-image: url("../images/deliver-bg-img2.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 660px) calc(50% + 379px);
}
.deliver::before{
  position: absolute;
  content: "";
  top: 0pc;
  left: calc(50% - 760px);
  width: 147px;
  height: 100px;
  background-image: url("../images/deliver-bg-img.svg");
}

.deliver__box{
  position: relative;
}


.deliver__theme{
  margin: 0px auto;
  margin-bottom: 56px;
  width: 932px;
  height: 96px;
  font-size: 48px;
  line-height: 48px;
}

.deliver__list{
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.deliver__item{
  position: relative;
  padding-top: 36px;
  background-image: url("../images/deliver-item-bg.svg");
  background-repeat: no-repeat;
  background-position-x: 9pc;
  background-position-y: 15px;
}

.deliver__item:nth-last-child(3)::after{
  position: absolute;
  content: "";
  bottom: -96px;
  right: 140px;
  width: 66px;
  height: 66px;
  background-image: url("../images/deliver-item1.svg");
}
.deliver__item:nth-last-child(2)::after{
  position: absolute;
  content: "";
  bottom: -96px;
  right: 140px;
  width: 66px;
  height: 66px;
  background-image: url("../images/deliver-item2.svg");
}
.deliver__item:nth-last-child(1)::after{
  position: absolute;
  content: "";
  bottom: -96px;
  right: 140px;
  width: 66px;
  height: 66px;
  background-image: url("../images/deliver-item3.svg");
}

.deliver__text{
  margin-bottom: 24px;
  width: 350px;
  height: 100px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
}

.profil-box{
  position: relative;
}

.profil-box__name{
  margin: 0px;
  color: var(--rapt-blue);
  font-size: 18px;
  line-height: 28px;
}

.profil-box__position{
  margin: 0px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}


/* deliver end */

/* ready start */

.ready{
  width: 100%;
  background-color: var(--light-coral);
  padding: 76px 0;
  background-image: url("../images/ready-bg-img.svg");
  background-repeat: no-repeat;
  background-size: 200px 244px;
  background-position: calc(50% - 673px) calc(50% + 79px);
  content: "";
}

.ready-info{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ready-info__title{
  margin: 0;
  margin-right: 260px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: var(--manage-bg-color);
}

.connect-link--ready{
  margin-left: 0;
  border: 2px solid var(--manage-bg-color);
  color:var(--manage-bg-color);
}

.connect-link--ready:hover{
  background-color: var(--manage-bg-color);
  color: var(--main-text-color);
}

.connect-link--ready:active{
  background-color: transparent;
  color:#012f3440;
  border: 2px solid #012f3440;
}

/* ready section end */

/* footer start */

.site-footer{
  width: 100%;
  background-color:  #002529;
  padding: 48px 0;
}

.footer-info{
  display: flex;
  align-items: center;
}

.footer-info__start{
  width: 160px;
  margin-right: 125px;
}

.header-info__list--footer{
  margin-top: 25px;
}

.footer-info__address, .footer-info__link-adr{
  width: 200px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: var(--main-text-color);
  opacity: 0.6;
  text-decoration: none;
}

.footer-info__link-adr{
  opacity: 1;
}

.footer-info__sm{
  width: 255px;
  margin-left: auto;
}

.sm-list{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  margin-bottom: 51px;
  padding: 0;
  list-style: none;
}

.sm-list__item:not(:last-child){
  margin-right: 16px;
}

.sm-list__img{
  color: var(--main-text-color);
  transition: 0.3s ease;
}

.sm-list__img:hover{
  color: var(--light-coral);
}

.footer-info__text{
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: var(--main-text-color);
  opacity: 0.6;
}

/* about page meeting section */

.meeting{
  width: 100%;
  background-color: #004047;
  padding-top: 140px;
  padding-bottom: 168px;
  background-image: url("../images/mt-left-bgimg.svg"), url("../images/meeting-bg-img.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: calc(50% - 760px) calc(50% - 421px),  calc(50% + 688px) calc(50% + 471px);
}


.meeting__titlebox{
  width: 920px;
  margin: 0 auto;
  margin-bottom: 64px;
  text-align: center;
}

.meeting__title{
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: var(--main-text-color);
}

.meeting__list{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.mt-list__item{
  position: relative;
  width: 350px;
  margin-right: 30px;
  padding: 32px 24px 56px 24px;
  text-align: center;
  background-color: var(--manage-bg-color);
  color: var(--main-text-color);
  transition: 0.3s ease;
}

.mt-list__item:not(:nth-child(3)),.mt-list__item:not(:nth-child(6)){
  margin-right: 0;
}


.mt-list__item:nth-child(1),.mt-list__item:nth-child(2){
  margin-right: 30px;
  margin-bottom: 76px;
}

.mt-list__item:nth-child(3){
  margin-bottom: 76px;
}

.mt-list__item:nth-child(4),.mt-list__item:nth-child(5){
  margin-right: 30px;
}

.mt-list__took{
  display: block;
  /* display: none; */
}

.mt-list__took::before{
  display: block;
  width: 96px;
  height: 96px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

.mt-list__item:nth-child(1) .mt-list__took::before{
  background-image: url("../images/nikita-img.png");
}

.mt-list__item:nth-child(2) .mt-list__took::before{
  background-image: url("../images/cristian.png");
}

.mt-list__item:nth-child(3) .mt-list__took::before{
  background-image: url("../images/cruz.png");
}

.mt-list__item:nth-child(4) .mt-list__took::before{
  background-image: url("../images/drake.png");
}

.mt-list__item:nth-child(5) .mt-list__took::before{
  background-image: url("../images/griffin.png");
}

.mt-list__item:nth-child(6) .mt-list__took::before{
  background-image: url("../images/aden.png");
}

.mt-list__title{
  margin-top: 16px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: var(--rapt-blue);
}

.mt-list__title--act{
  margin: 6px;
}

.mt-list__text{
  margin: 0;
  font-style: italic;
  font-size: 15px;
  line-height: 25px;
}


.mt-list__sp{
  position: absolute;
  left: 146px;
  width: 56px;
  height: 56px;
  transform: translateY(50%);
  margin: 0 auto;
  border-radius: 50%;
  background-color: var(--light-coral);
  transition: 0.3s ease;
}

.mt-list__icon{
  margin: auto;
  margin-top: 20px;
}

.mt-list__back{
  display: none;
  /* display: block; */
  width: 254px;
  margin: 0 auto;
}

.back-text{
  margin-top: 8px;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
}

.back-site__list{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.back-site__item:first-child{
  margin-right: 16px;
}

.mt-list__item:hover .mt-list__took{
  display: none;
}

.mt-list__item:hover .mt-list__back{
  display: block;
}

.mt-list__item:hover .mt-list__sp {
  background-color: var(--rapt-blue);
  transition: 0.3s ease;
}

.mt-list__item:hover .mt-list__sp .mt-list__icon{
  transform: rotate(-45deg);
  transition: 0.3s ease;
}
