/* VARIABLES */

:root{
  --main-text-color : #fff;
  --hero-bg-img:#014E56;
  --manage-bg-color :  #012F34;
  --rapt-blue:#79C8C7;
  --light-coral:#F67E7E;
}

@font-face {
  font-family: "Livvic";
  font-weight: 600;
  src: url("../fonts/livvic-v13-latin-600.woff2") format("woff2"),
       url("../fonts/livvic-v13-latin-600.woff") format("woff");
}
/* livvic-700 - latin */
@font-face {
  font-family: "Livvic";
  font-weight: 700;
  src: url("../fonts/livvic-v13-latin-700.woff2") format("woff2"),
       url("../fonts/livvic-v13-latin-700.woff") format("woff");
}

/* GENERAL */
*{
  box-sizing: border-box;
}
html{
  height: 100%;
}

img{
  display: block;
  height: auto;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;overflow-x: hidden;

  font-family: "Livvic", "Arial", sans-serif;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container{
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */
.site-main{
  flex-grow: 1;
}

/* build-section */

.build{
  position: relative;
  padding: 140px 165px;
  font-weight: 700;
  background-color: var(--manage-bg-color);
}
.build::after{
  position: absolute;
  content: "";
  left: calc(50% + 660px);
  width: 200px;
  bottom: 0px;
  height: 244px;
  background-image: url(../images/build-bg-img.svg);
}

.build__box{
  display: flex;
  justify-content: space-between;
  position: relative;
}
.build__box::before{
  position: absolute;
  width: 50px;
  height: 4px;
  content: "";
  border-top: #F67E7E solid;
  border-width: 4px;
}

.build__theme{
  margin-top: 58px;
  color: var(--main-text-color);
  width: 445px;
  height: 144px;
  font-size: 48px;
  line-height: 48px;
}

.build__list{
  margin-top: 58px;
  list-style: none;
  position: relative;
}

.build__item{
  margin-bottom: 32px;
}
.build__item:nth-last-child(1)::before{
  position: absolute;
  content: "";
  width: 72px;
  height: 72px;
  left: -58px;
  background-image: url(../images/build-item1.svg);
}
.build__item:nth-last-child(2)::before{
  position: absolute;
  content: "";
  width: 72px;
  height: 72px;
  left: -58px;
  background-image: url(../images/build-item2.svg);
}
.build__item:nth-last-child(3)::before{
  position: absolute;
  content: "";
  width: 72px;
  height: 72px;
  left: -58px;
  background-image: url(../images/build-item3.svg);
}

.build__item__theme{
  margin: 0px;
  margin-bottom: 16px;
  color: var(--light-coral);
  width: 445px;
  height: 28px;
  font-size: 18px;
  line-height: 28px;
}

.build__item__text{
  margin: 0px;
  color: var(--main-text-color);
  width: 445px;
  height: 50px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
}

/* build-section-end*/

/* deliver-section */

.deliver{
  position: relative;
  padding: 140px 165px;
  color: var(--main-text-color);
  font-weight: 700;
  text-align: center;
  background-color: #004047;
  background-image: url(/images/deliver-bg-img2.svg);
  background-repeat: no-repeat;
background-position: calc(50% + 660px) calc(50% + 350px);
}
.deliver::before{
  position: absolute;
  content: "";
  top: 0pc;
  left: calc(50% - 760px);
  width: 147px;
  height: 100px;
  background-image: url(/images/deliver-bg-img.svg);
}

.deliver__box{
  position: relative;
}


.deliver__theme{
  margin: 0px auto;
  margin-bottom: 92px;
  width: 932px;
  height: 96px;
  font-size: 48px;
  line-height: 48px; 
}

.deliver__list{
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.deliver__item{
  position: relative;
  padding-top: 36px;
  background-image: url(../images/deliver-item-bg.svg);
  background-repeat: no-repeat;
  background-position-x: 9pc;
  background-position-y: 15px;
}

.deliver__item:nth-last-child(3)::after{
  position: absolute;
  content: "";
  bottom: -96px;
  right: 140px;
  width: 66px;
  height: 66px;
  background-image: url(../images/deliver-item1.svg);
}
.deliver__item:nth-last-child(2)::after{
  position: absolute;
  content: "";
  bottom: -96px;
  right: 140px;
  width: 66px;
  height: 66px;
  background-image: url(../images/deliver-item2.svg);
}
.deliver__item:nth-last-child(1)::after{
  position: absolute;
  content: "";
  bottom: -96px;
  right: 140px;
  width: 66px;
  height: 66px;
  background-image: url(../images/deliver-item3.svg);
}

.deliver__text{
  margin-bottom: 24px;
  width: 350px;
  height: 100px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
}

.profil-box{
  position: relative;
}

.profil-box__name{
  margin: 0px;
  color: var(--rapt-blue);
  font-size: 18px;
  line-height: 28px;
}

.profil-box__position{
  margin: 0px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}